/* pages/userComment/index.wxss */
.view-hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.message {
  display: flex;
  align-items: center;
  height: 120rpx;
  background-color: aliceblue;
  border-bottom: 1rpx solid #f3f3f3;
}

.message .header-icon {
  width: 90rpx;
  height: 90rpx;
  border-radius: 80rpx;
  margin-left: 10rpx;
  margin-top: 10rpx;
}

.message .info {
  display: inline-block;
  margin-left: 20rpx;
}
